.search-input {
  display: block;
  padding: 1.5vw;
  width: 50%;
  margin: 2vw auto;
  border-radius: 40px;
  border: 2px solid #eeeeee;
  font-size: 1.5vw;
  &:focus {
    outline: 0;
  }
}

.notes-ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1vw;
    width: 70%;
    text-align: center;
    padding: 1vw;
    border: 1px solid #262626;
    text-decoration: none;
    color: #262626;
    transition: 0.5s;
    &:hover {
      background-color: #262626;
      color: white;
    }
    p {
      width: 100%;
      font-size: 3vw;
    }
    span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30%;
    }
    img {
      width: 40%;
    }

    .date {
      padding: 1vw 3vw;
      align-self: flex-end;
    }
  }
}
